$base-color: #c6538c;
$border-dark: rgba($base-color, 0.88);

.alert {
    border: 1px solid $border-dark;
    border-radius: 10px;
    padding: 20px;
}

.tailr {
    @apply bg-blue-500 text-center p-5;
}

